@charset "UTF-8";

/* Todas as demais medias */

/* Typical Device Breakpoints
------------------------------
Pequuenas Telas ate 600px
Celular: de até 600px até 768px
Tablet: 768px até 992px
Desktop: 992 até 12000px
Grandes Telas: Acima de 1200px

*/

@media print {

}

@media screen and (min-widht: 768px) and (max-widht: 992px) {
    /* TABLET */

    body {
        background-image: url(..//imagens/back-tablet.jpg);
    }
}


@media screen and (min-width: 768px) and (max-widht: 992px) { /*DESKTOP */
}

@media sreecn and (min-widht: 1200px) {
    /* GRANDES TELAS */
}